<p>about-us works!</p>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Icep friday</title>
<meta http-equiv="content-type" content="text/html;charset=iso-8859-1" />
<link rel="stylesheet" href="Ndlelehle_styles.css"
type="text/css" />

</head >
<style type="text/css">
body {background-image: url(images_ndlelehle_youth_Club_Galary/bg.JPG);}
</style>
<body >
<! ---Logo Table-->
<table width="100%" style="background-color: green" >
<tr >
<h2><td ><img src="images_ndlelehle_youth_Club/LOGO_N.JPG" width="300" height="80"></td></h2>
<td align="center" >
<form >
<p><form name=search onsubmit="return findInPage(this.string.value);"
<p align="center"><font size=3><input style="border-right:#666666 1px solid; border-top:#666666 1px solid; font-size:8pt;
border-left:#666666 1px solid; border-bottom:#666666 1px solid" onchange="n = 0;" size=16 name=string></font><br><input style="border-right:#ffffff 1px solid;
 border-top:#ffffff 1px solid; font-size: 8pt; border-left: #ffffff 1px solid; font-falimy:Tahoma; background-color:#aaaaaa" type=submit
value=Search in page><center><font size=2pt;><font family=Times New Roman;><b>
<a target="ndlelehle" href="about_us.html" style="font-size:8pt; text-decoration:none"></a>
</p>
</form>
</td></tr>
</table>

<table border="0" width="1335" height="200">
<tr><td colspan="0">

  <!-- current navigation -->

<div id="wrap">
               <ul class="navbar">
                    
                    <li><a href="home_page_ndlelehle_youth_advice.html">HOME</a>
                    <ul>
                        <li><a href="visitors23_ndlelehle_youth_advice.html">VISITORS GUIDE</a></li>
                        <li><a href="calendar23_ndlelehle_youth_advice.html">CALENDAR</a></li>
                        <li><a href="calendar23_ndlelehle_youth_advice.html">EVENTS</a></li>
                     </ul>
                 </li>
                 <li><a href="education23.html">EDUCATION</a>
                      <ul>
                          <li><a href="voluntee23_ndlelehle_youth_advice.html">VOLUNTEE</a></li>
                          <li><a href="support us23_ndlelehle_youth_advice.html">SUPPORT US</a></li>
                          <li><a href="mind_games23_ndlelehle_youth_advice.html">FUN ZONE</a></li>
                       </ul>
                 </li>
                 <li><a href="our galary23_ndlelehle_youth_advice.html">OUR GALARY</a>
                     <ul>
                         <li><a href="our galary23_ndlelehle_youth_advice.html">VIDEOS</a></li>
                         <li><a href="our galary23_ndlelehle_youth_advice.html">INTER-VIEW</a></li>
                         <li><a href="our photos23_ndlelehle_youth_advice.html">PHOTOS</a></li>
                      </ul>
                    </li><li><a href="contact us23_ndlelehle_youth_advice.html">CONTACTS</a>
                       <ul>
                         <li><a href="founders23_ndlelehle_youth_advice.html">FOUNDERS</a></li>
                         <li><a href="manangement23_ndlelehle_youth_advice.html">MANANGEMENT</a></li>
                         <li><a href="our map23_ndlelehle_youth_advice.html">NAVIGATE</a></li>
                         <li><a href="our mmap23_ndlelehle_youth_advice.html">MAP</a></li>
                        </ul>
                      </li>
                     </ul>
<img src="images_ndlelehle_youth_Club/2014.JPG" width="423" height="180" align="right">



</td></tr>
</table>
 
                       <hr color="black"/>
                  <hr color="brown"/>
                <hr color="yellow"/>
                <h7>About Ndlelehle Youth Advice</h7>
             <hr color="blue"/>
          <hr color="red"/>
       <hr color="green"/>

<table width="1340" border="0" >
<tr><td height="200" width="25%" valign="top">
<h3>Ndlelehle Youth Advice</h3>
<p class="copy"><span>Welcome to Ndlelehle Youth Club,</span> Ndlelehle is listing South African non-profit oragination and trying to increase awareness to the needs of the youth in this country. 
<br /><br />This website is dedicated to the youth who wants to make difference in their lives and in the lives of others, we Ndlelehle we strongly believe that beyond youth, there is light!!!!..</p></td>
<td width="30%"><h1>Our Vision</h1>
<p class="copy"><span>Ndlelehle Youth Advice and Information Centre.</span>The organisation's vision is to be effective and efficient with
our center, we work with and for young people.<br /> <br />Currently our programmes are life skills, carreer guidance, youth camp, business skills,
workshop and seminars on different topics. We try to cover every coner related to youth development; we are actually a youth
development institution.</p><td width="25%"><h4>Mission</h4><p class="copy"><span>The</span> knowledge to action foundation is a Ndlelehle commited to positively improving the quality
of life of youth around the world. focusing on education, life skills and youth leadership initiatives, the Ndlelehle strive to equip young people with the essential emotion and mental tools for success.<br /><br /> The Ndlelehle's
 mission is to provide young people, regardless of background, with the strategies and confidence so that they can reach their full potential and realise their ultimate destiny.</p></td></td>
</td>
</tr></table>

<table width="1340" border="0">
<tr><td height="200" width="25%" valign="top">
<td width="30%"><h1>We offer the following services:</h1><ul><li>HIV/AIDS & Crime awareness programme</li></ul>
                                                         <ul><li>Education & career path programme</li></ul>
                                                         <ul><li>Entrepreneurial & Life Skills programme</li></ul>
                                                         <ul><li>Job preparastion programme</li></ul>
                                                         <ul><li>Art, sport & Cultural programme</li></ul>
                                                         <ul><li>Computer skills programme</li></ul>
                                                         <ul><li>Community outreach</li></ul><td width="25%">
</td></tr>
</table>

 <hr />

<table width="1340" border="0">
<tr class="odd"><td height="30" width="25%" valing="top">
<td width="25%">Copyright &copy; 2014. Icep. All rights reserved</td><td width="30%"><a href="#top">Back to Top</a>
</td></tr>
</table>





<script type="text/javascript">

var NS4 = (document.layers);
var IE4= (document.all);
var win = window;
var n = 0;
funtion findInPage(tr) {
   var txt, i, found;
   if (str == "")
    return false;
     if (NS4) {
          if (!win.find(str))
     while(win.find(str, false, true))
     n++;
 else
     n++;
    if(n==0)
   alert("Not found.");
}
if(IE4){
       txt =win.document.body.createTextRange();
       for (i = 0; i <=n && (found =txt.findText(str)) != false; i++) {
     txt.moveEnd("textedit");
}
if(found){
     txt.moveStart("character",-1);
     txt.findText(str);
     txt.select();
     txt.scrollIntoView();
   n++;
}
else{
 if (n > 0){
       n = 0;
     findInPage(str);
}
else
     alert("Sorry, we couldn't find.Try again")
}
}
return false;
}
</script>


</body>
</html>
